{% extends 'base.html' %} {% block head %}
<title>Lista</title>
<link
  rel="icon"
  type="image/png"
  href="{{ url_for('static', filename='images/list.png') }}"
/>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %} {% block body %}
<div class="content">
  <h1>Lista De Tarefas<span class="to_do_list"></span></h1>

  {% if tasks|length < 1 %}
  <h4>Não há tarefas para atualizar. Crie uma!</h4>
  <form action="/" method="POST">
    <input type="text" name="content" id="content" />
    <input type="submit" value="Adicionar" />
  </form>
  {% else %}
  <form action="/" method="POST">
    <input type="text" name="content" id="content" />
    <input type="submit" value="Adicionar" />
  </form>
  <table>
    <tr>
      <th>Tarefa</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td id="task-content">{{ task.content }}</td>
      <td id="custom-datetime">{{ task.date_created }}</td>
      <td>
        <a href="/delete/{{task.id}}" style="color: #db0800"
          >Deletar<span class="delete"></span
        ></a>
        <br />
        <a href="/update/{{task.id}}" style="color: #00dc0b"
          >Atualizar<span class="update"></span
        ></a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <p style="text-align: right; font-weight: 600;">Total: {{ tasks|length }}</p>
  {% endif %}
</div>
{% endblock %}
